***
## Misson to Mars
***
A web application that scrapes various websites for data related to the Misson to Mars and displayes the information in a single HTML page.

In [1]:
# Importing Dependencies:
from bs4 import BeautifulSoup
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd

### Mac Users

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

***
## Step 1 - Scraping
***
### NASA Mars News
* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. 
* Assign the text to variables that you can reference later.

In [4]:
# URL of the page to be scrapped 
url = 'https://mars.nasa.gov/news/'

In [5]:
# Starting the browser request:
browser.visit(url)

In [6]:
# HTML Object:
html = browser.html

# Creating BeautifulSoup object from the webpage:
soup = BeautifulSoup(html, 'html.parser')

In [32]:
# Printing the results to test:
#print(soup.prettify())

In [9]:
# Collecting the latest news title and paragraph: 
list_object = soup.find('ul', class_="item_list")
news_title = list_object.find('div', class_="content_title").text
news_parag = list_object.find('div', class_="article_teaser_body").text
print(f"The Latest News Title and Paragraph are:")
print(news_title)
print(news_parag)

The Latest News Title and Paragraph are:
Hear Audio From NASA's Perseverance As It Travels Through Deep Space
The first to be rigged with microphones, the agency's latest Mars rover picked up the subtle sounds of its own inner workings during interplanetary flight.

***
## JPL Mars Space Images - Featured Image
***
* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

In [19]:
# Visiting url JPL Featured Space Image:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [21]:
# HTML Object:
html = browser.html
# Creating BeautifulSoup object from the webpage:
soup_image = BeautifulSoup(html, 'html.parser')

In [31]:
# Printing the results to test:
# print(soup_image.prettify())

In [23]:
# For more informatiom go to:
img_botton = browser.find_by_id('full_image')
img_botton.click()

In [24]:
# For more information go to: 
img_url = browser.links.find_by_partial_text('more info')
img_url.click()

In [26]:
# HTML Object:
html = browser.html
# Creating BeautifulSoup object from the webpage:
soup_image = BeautifulSoup(html, 'html.parser')

# Printing the results to test:
soup_image.find_all('figure')

[<figure class="lede">
 <a href="/spaceimages/images/largesize/PIA16837_hires.jpg"><img alt="The dark hot spot in this false-color image from NASA's Cassini spacecraft is a window deep into Jupiter's atmosphere. All around it are layers of higher clouds, with colors indicating which layer of the atmosphere the clouds are in." class="main_image" src="/spaceimages/images/largesize/PIA16837_hires.jpg" title="The dark hot spot in this false-color image from NASA's Cassini spacecraft is a window deep into Jupiter's atmosphere. All around it are layers of higher clouds, with colors indicating which layer of the atmosphere the clouds are in."/></a>
 </figure>]

In [28]:
# Collecting the image tags and class:
list_image = soup_image.find('figure', class_='lede')
print(list_image)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA16837_hires.jpg"><img alt="The dark hot spot in this false-color image from NASA's Cassini spacecraft is a window deep into Jupiter's atmosphere. All around it are layers of higher clouds, with colors indicating which layer of the atmosphere the clouds are in." class="main_image" src="/spaceimages/images/largesize/PIA16837_hires.jpg" title="The dark hot spot in this false-color image from NASA's Cassini spacecraft is a window deep into Jupiter's atmosphere. All around it are layers of higher clouds, with colors indicating which layer of the atmosphere the clouds are in."/></a>
</figure>

In [30]:
# Scraping the url for the image object:
list_image = soup_image.find('figure', class_='lede')
image_obj = list_image.find('a')['href']
print(image_obj)

/spaceimages/images/largesize/PIA16837_hires.jpg

In [33]:
# Printing image object:
featured_image_url = f'https://www.jpl.nasa.gov{image_obj}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16837_hires.jpg

***
## Mars Facts
***
* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [34]:
# Using splinter to view Mars Facts webpage:
url_facts = 'https://space-facts.com/mars/'

In [35]:
# Using pandas 'read_html' function to automatically scrape the data from the webpage:
tables = pd.read_html(url_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
# Checking table type of the dataframe:
type(tables)

list

In [37]:
# Using normal pandas indexing to slice off dataframes:
facts_df = tables[0]
facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [38]:
# Renaming dataframe columns:
facts_df.columns = ['Facts', 'Values']
facts_df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
# Setting dataframe index:
facts_df.set_index('Facts', inplace=True)
facts_df

                                             Values
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers